{% extends "master.html" %}

{% load static %}

{% block title %}
  Contract Admin
{% endblock %}

{% block content %}
<div style="
    position: absolute;
    top: 0;
    left: 10%;
    width: 90%;
    height: 100%;
    background-image: url('{% static "images/precast.png" %}');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
">


    <div style="
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    "></div>
</div>

<div style="display: flex; justify-content: space-between; align-items: center;">
    <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="uploadDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background: linear-gradient(45deg, #A090D0 0%, #B3E1DD 100%); border: none; color: white;">
            Upload
        </button>
        <div class="dropdown-menu" aria-labelledby="uploadDropdown">
          <!-- CSV Upload Form for Materials -->
          <form action="{% url 'materials_upload' %}" method="post" enctype="multipart/form-data" class="dropdown-item">
              {% csrf_token %}
              <input type="file" id="csv_file_materials" name="csv_file" accept=".csv" style="display: none;" onchange="console.log('Materials file input changed'); this.form.submit();">
              <button type="button" onclick="console.log('Materials button clicked'); document.getElementById('csv_file_materials').click();">Upload CSV for Materials</button>
          </form>
      
          <!-- CSV Upload Form for Bom -->
          <form action="{% url 'bom_upload' %}" method="post" enctype="multipart/form-data" class="dropdown-item">
              {% csrf_token %}
              <input type="file" id="csv_file_bom" name="csv_file" accept=".csv" style="display: none;" onchange="console.log('BOM file input changed'); this.form.submit();">
              <button type="button" onclick="console.log('BOM button clicked'); document.getElementById('csv_file_bom').click();">Upload CSV for Bom</button>
          </form>
      
          <!-- Drawing Upload Form -->
          <form method="post" enctype="multipart/form-data" class="dropdown-item">
              {% csrf_token %}
              <input type="file" id="pdfUpload" multiple name="{{ form.pdf_file.name }}" accept=".pdf" style="display: none;" onchange="console.log('Drawings file input changed');" />
              <button id="uploadButton" type="button" onclick="console.log('Drawings button clicked'); document.getElementById('pdfUpload').click();">Upload Drawings</button>
          </form>

          <!-- PanelsBOM Upload Form -->
          <form action="{% url 'panels_bom_upload' %}" method="post" enctype="multipart/form-data" class="dropdown-item">
            {% csrf_token %}
            <input type="file" id="csv_file_panelsBom" name="csv_file" accept=".csv" style="display: none;" onchange="console.log('Panels BOM file input changed'); this.form.submit();">
            <button type="button" onclick="console.log('Panels BOM button clicked'); document.getElementById('csv_file_panelsBom').click();">Upload CSV for Panels BOM</button>
        </form>
        </div>
      </div>

      <div style="display: flex; justify-content: center; flex-grow: 1;">
        <h1 style="margin: 0px; color: white;">PRECAST APP HO</h1>
        <img src="{% static 'logo.png' %}" alt="Your Image" style="width: 50px; height: 50px;">
        <h1 style="margin: 0px; color: white;">E PAGE</h1>
    </div>
</div>
<p style="text-align:center; color: white;" >5/43 Accolade Avenue</p>


{{ suppliers|json_script:"suppliers" }}
{{ materials|json_script:"materials" }}
{{ bom|json_script:"bom" }}
{{ drawings|json_script:"drawings" }}
{{ stocktake|json_script:"stocktake" }}
{{ stocktake_data|json_script:"stocktake_data" }}
{{ shelf_stock|json_script:"shelf_stock" }}
{{ orders|json_script:"orders" }}
{{ orders_data|json_script:"orders_data" }}
{{ panels|json_script:"panels" }}
{{ casting_schedule|json_script:"casting_schedule" }}


<script> 
// CSV Upload Script for Materials
document.getElementById('csv_file_materials').addEventListener('change', function(event) {
    console.log('event:', event);
    uploadCSV(event, '{% url 'materials_upload' %}');
});
// CSV Upload Script for Bom
document.getElementById('csv_file_bom').addEventListener('change', function(event) {
    console.log('event2:', event);
    uploadCSV(event, '{% url 'bom_upload' %}');
});

function uploadCSV(event, url) {
    var file = event.target.files[0];
    var reader = new FileReader();
    reader.onload = function(event) {
        var csvData = event.target.result;
        var lines = csvData.split('\n');
        var result = [];
        var headers = lines[0].split(',').map(header => header.trim());
        for (var i = 1; i < lines.length; i++) {
            var obj = {};
            var currentline = lines[i].split(',').map(field => field.trim());
            for (var j = 0; j < headers.length; j++) {
                obj[headers[j]] = currentline[j];
            }
            result.push(obj);
        }
        // Display the CSV data in an alert popup
        alert(JSON.stringify(result, null, 2));
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify(result)
        }).then(function(response) {
            if (response.ok) {
                console.log('CSV file uploaded and processed successfully.');
            } else {
                console.error('Error:', response.statusText);
            }
        }).catch(function(error) {
            console.error('Error:', error);
        });
    };
    reader.readAsText(file);
}
</script>

<script>
    var suppliers = JSON.parse(document.getElementById('suppliers').textContent);
    var materials = JSON.parse(document.getElementById('materials').textContent);
    var bom = JSON.parse(document.getElementById('bom').textContent);
    var drawings = JSON.parse(document.getElementById('drawings').textContent);
    var stocktake = JSON.parse(document.getElementById('stocktake').textContent);
    var stocktake_data = JSON.parse(document.getElementById('stocktake_data').textContent);
    var shelf_stock = JSON.parse(document.getElementById('shelf_stock').textContent);
    var orders = JSON.parse(document.getElementById('orders').textContent);
    var orders_data = JSON.parse(document.getElementById('orders_data').textContent);
    var panels = JSON.parse(document.getElementById('panels').textContent);
    var casting_schedule = JSON.parse(document.getElementById('casting_schedule').textContent);
    // console.log('Orders Data:', orders_data);
</script>

<script src="{% static 'js/suppliers.js' %}"></script>
<script src="{% static 'js/materials.js' %}"></script>
<script src="{% static 'js/bom.js' %}"></script>
<script src="{% static 'js/stocktake.js' %}"></script>
<script src="{% static 'js/drawings.js' %}"></script>
<script src="{% static 'js/orders.js' %}"></script>
<script src="{% static 'js/casting_schedule.js' %}"></script>
<script>
    var bedLayoutImageUrl = "{% static 'images/bed_layout.png' %}";
</script>





{% endblock %}

